version: '3'

services:
  microservice:
    build: ./microservice
    container_name: microservice
    ports:
      - "4000:4000"
    volumes:
      - ./microservice/logs.txt:/app/logs.txt   # ensures file persists

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert_rules.yml:/etc/prometheus/alert_rules.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager
    ports:
      - "9093:9093"
    depends_on:
      - prometheus

  webhook:
    build: ./auto_remediation
    container_name: webhook
    ports:
      - "5001:5001"
    volumes:
      - ./microservice/logs.txt:/app/logs.txt   # webhook must access same file
